:root {
    --primary-color: blue;
    --accent1-color: #100;
    --heading-font: "Times New Roman";
    --body-font: Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;

}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightskyblue;
    border: 1px solid brown
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 50px;
    margin: 10px;
    width: 400px;
    ;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article {
    position: absolute;

}

.hero article p {
    position: relative;
    top: -170px;
    left: 20px;
    right: 20px;
    padding: 16px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    overflow: hidden;
}

.hero article img {
    position: relative;
    float: right;
    top: -155px;
    width: 70px;
    height: auto;
    margin-left: 16px;
    margin-bottom: 8px;
}

h2 {
    text-align: center;
    background-color: var(--accent1-color);
    color: white;
    padding: 16px;
    width: 100%;

}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: lightskyblue
}

.history h2 {
    grid-column: 2;

}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: lightskyblue;
    padding: 20px;

}

.container h2 {
    width: 100%;
}

.container figure {
    width: 130px;
    margin: 0;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightskyblue;
}

.socialmedia {
    display: flex;
    gap: 10px;

}

.socialmedia img {
    width: 50px;
    height: auto;
}

section:nth-of-type(2) h2 {
    margin-bottom: 20px;
}