table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: black;
    color: white;
    font-weight: 700;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}