main {
    text-align: center;
    background-color: lightgreen;
    font-weight: bold;
    width: 840px;
    align-content: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;

}

section {
    margin-top: 10px;
    gap: 50px;
    align-content: center;
    background-color: navajowhite;
    width: 840px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    display: block;
    border: 3px solid navy;

}

body {
    border: 2px solid black;
    width: 840px;
    background-color: lightblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

section img {
    width: 100%;
    max-width: 250px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

P {
    font-family: Arial, Helvetica, sans-serif;
}